body {
	background: radial-gradient(#7E57C2,#512DA8);
	font-family: Roboto, Arial;
}

table {
	border-spacing: 0;
	cellspacing: 0;
	cellpadding: 0;
	margin: 80px auto; 
}

#turnDisplay {
	color: #ffffff;
	text-align: center;
	margin-top: -50px;
}

#playerNames {
	color: #ffffff;
	text-align: center;
	margin-top: 0px;
	margin-bottom: -22px;	
}

#p1 {display: inline;}
#p2 {display: inline;}
#vs{display: inline;}

#UL {
	height: 150px;
	width: 150px;
	padding: 0px;
	
	border-right: 10px solid #ffffff;
	border-bottom: 10px solid #ffffff
}

#UM {
	height: 150px;
	width: 150px;
	padding: 0px;
	border-bottom: 10px solid #ffffff;
}

#UR {

	height: 150px;
	width: 150px;
	padding: 0px;
	border-left: 10px solid #ffffff;
	border-bottom: 10px solid #ffffff;
}

#ML {
	
	height: 150px;
	width: 150px;
	padding: 0px;
	
	border-right: 10px solid #ffffff;
	border-bottom: 10px solid #ffffff
}

#MM {

	height: 150px;
	width: 150px;
	padding: 0px;
	border-bottom: 10px solid #ffffff;
}

#MR {

	height: 150px;
	width: 150px;
	padding: 0px;
	border-left: 10px solid #ffffff;
	border-bottom: 10px solid #ffffff;
}

#LL {
	
	height: 150px;
	width: 150px;
	padding: 0px;
	
	border-right: 10px solid #ffffff;
}

#LM {

	height: 150px;
	width: 150px;
	padding: 0px;
}

#LR {

	height: 150px;
	width: 150px;
	padding: 0px;
	border-left: 10px solid #ffffff;
}

#gameOver {
	color: #ffffff;
	text-align: center;
	visibility: hidden;
}

